<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ccode.sdaschoolbahraich">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".marksActivity.MarksOpenSubjectActivity"
            android:theme="@style/MarksActivityTheme"/>
        <activity
            android:name=".feesActivity.FeesActivity"
            android:theme="@style/FeesActivityTheme" />
        <activity
            android:name=".circularActivity.CircularsActivity"
            android:theme="@style/CircularsActivityTheme" />
        <activity
            android:name=".marksActivity.MarksActivity"
            android:theme="@style/MarksActivityTheme" />
        <activity
            android:name=".calendarActivity.CalendarActivity"
            android:theme="@style/CalendarActivityTheme" />
        <activity
            android:name=".assignmentActivity.AssignmentsActivity"
            android:theme="@style/AssignmentActivityTheme" />
        <activity
            android:name=".attendanceActivity.AttendanceActivity"
            android:theme="@style/AttendanceActivityTheme" />
        <activity
            android:name=".mainActivity.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity android:name=".loginActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>